.container{
    display: flex;
    flex-direction: column;
    background-color: var(--global-background-color);
    color: white;

    .line{
        border-color: lightgray;
        margin: 5px;
    }
    .top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1px;
        .item{
            display: flex;
            flex-direction: column;
            flex:1;
        }
        .item img{
            width: 150px;
        
        }
    }
  
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            color: lightgray;
        }
        .image img{
            width: 200px;
        }
    }
}