.container{
    outline:1px solid var(--global-background-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    .wrapper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
            background: var(--global-background-color);
            color: white;
            outline: none;
            &::placeholder{
                color: whitesmoke;
            }
        }
        button{
            padding: 10px;
            border: none;
            border-radius:0 5px 5px 0;
            background: lightslategrey;
            color: white;
        }
    }
}