* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color:inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --global-background-color:#1a73e8;
  --global-text-color:white;
}
.layout{
  display: flex;
  flex-direction: column;
}