.container{
    position: absolute;
    right: 0;
    background: white;
    z-index: 999;
    padding: 5px;
    h1{
        color: lightslategray;
        font-size: 24px;
    }
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;
        img{
            width: 150px;
            object-fit: cover;
        }
        .delete{
            color: red;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    .checkout{
        display: flex;
        align-items: center;
        gap: 20px;
        width: max-content;
        padding: 10px;
        background-color: var(--global-background-color);
        color: var(--global-text-color);
        border: none;
        cursor: pointer;
        &:hover{
        opacity: 0.9;
        }
    }
    .reset{
        color: red;
    }
}